

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
html {
  font-family: 'Work sans', sans-serif;
}
.realisation {
    font-size : 5px;
}

.flexreal {
    text-align: center;
}
body {
    margin: 0px;
}
h1{
    text-align: center;
    font-size: 26px;
    text-decoration: underline;
}

h4 {
    font-size: 3em;
    margin: 0;
}

h5 {
    margin: 1%;
    font-size: 3em;
    font-weight: normal;
}

ul {
    font-size: 3em;
}


img {
    height: 40%;
    width: 40%;
}

p{
  font-size: 3em;
}

* {
  box-sizing: border-box;
}
@media (min-width: 800px) {
    .corps {
        display: flex;
    }
    .droite {
        padding : 10px;
        width: 65%;

    }
    .gauche {
        width: 35%;
    }
    .navlinks {
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        display: inline-block;
        margin: 0px 10px;
    }
    nav {
        background-repeat: no-repeat;
        background-size: 100%;  
    }
}
.corps {
  max-width: 100%;
  justify-content: center;
}

.gauche {
  min-width: 300px;
  background-color: rgb(214, 214, 214);
  padding: 10px;
}

.droite {
  height: 100%;
  background-color: white;
}

h3 {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 4em;
  color : black;
}

article{
  margin: 10px;
  padding: 10px;
  font-size: 5px;
  overflow:auto;
}

.gauche article{
  background-color: white ;
}

.droite article{
  background-color: rgb(214, 214, 214);
}

h2 {
  font-weight: bold;
  font-size: 3em;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #000000;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
footer {
  background-color: rgb(255, 239, 239);
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

.container p {
  background-color:rgb(189, 186, 186);
  height: 10px;
  color: black;
}

nav {
    background-image: url("../image/background_chimie2.jpg") ;
    font-size: 10px;
    padding :10px;
    width : 100%;
}
nav ul {
    list-style-type:none;
}

nav li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.formulaire {
    padding: 20px;
    background-color: rgb(214, 214, 214);
    text-align: center;
}
form {
    display: inline
}
textarea {
    width: 70%;
}
nav a:hover {
  opacity: 0.7;
}
.FdN {
  display: flex;
gap :100px
}

.these {
  display: flex;
}